<!DOCTYPE html>
<html lang="en">
<head>
  <title>Calvin Jhunjhnuwala</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Document</title>

  <link rel="stylesheet" type="text/css" href="least.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href='//fonts.googleapis.com/css?family=Quicksand:400' rel='stylesheet' type='text/css'>

  <script src="//code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/javascript/jquery.min.js"></script>
  <script src="/javascript/least.min.js" defer="defer"></script>
  <script src="/javascript/jquery.lazyload.min.js" defer="defer"></script>


</head>
<body>