<% include partials/header %>

<div class="container-fluid">
  <div class="rows">

    <div class="header">
      <img class="my_photo" />
      <h1>Calvin Jhunjhnuwala</h1>
      <h4><strong>Full-Stack Web Developer | Code Monkey | Sports Fanatic | Beat Generationalist</strong></h4>
    </div>

    <section>
    <ul id="gallery">
      <li id="fullPreview"></li>
        <h1 class="heading">Websites</h1>

        <li>
          <a href="sites/oneironaut.png" class="fit"></a>
          <img data-original="sites/oneironaut.png" src="sites/oneironaut.png" width="240" height="150" alt="Oneironaut" />

          <div class="overLayer"></div>
          <div class="infoLayer">
            <ul>
              <li>
                <h2>
                  Oneironaut
                </h2>
              </li>
              <li>
                <p>
                  A Dream Blog
                </p>
              </li>
            </ul>
          </div>

          <div class="projectInfo">
            <strong>
              Oneironaut - an explorer of the dream world<br><br>
            </strong>
            I built this site with the fact that there is not a good dream bloggin website out there right now. Mos tof them are outdated websites and I wanted to take a new approach to this and bring some color to the world of dreams.
          </div>
        </li>

        <li>
          <a href="sites/vex2.png" class="fit"></a>
          <img data-original="sites/vex.png" src="sites/vex.png" width="240" height="150" alt="Oneironaut"/>

          <div class="overLayer"></div>
          <div class="infoLayer">
            <ul>
              <li>
                <h2>
                  Vex-On
                </h2>
              </li>
              <li>
                <p>
                  Learn About Flags & History
                </p>
              </li>
            </ul>
          </div>

          <div class="projectInfo">
            <strong>
              Vex-On - for flag lovers and vexillologists<br><br>
            </strong>
              This was another website that I built because this was something that I wanted to exist.
          </div>
        </li>

        <li>
          <a href="sites/mishmash2.png" class="fit"></a>
          <img data-original="sites/mishmash.png" src="sites/mishmash.png" width="240" height="150" alt="Oneironaut" />

          <div class="overLayer"></div>
          <div class="infoLayer">
            <ul>
              <li>
                <h2>
                  MishMash
                </h2>
              </li>
              <li>
                <p>
                  Where Artist and Community Meet
                </p>
              </li>
            </ul>
          </div>

          <div class="projectInfo">
            <strong>
              MishMash - the exploration of local and artistry<br><br>
            </strong>
              MishMash was born in
          </div>
        </li>

        <li>
          <a href="sites/moonwalk.png" class="fit"></a>
          <img data-original="sites/moonwalk_landing.png" src="sites/moonwalk_landing.png" width="240" height="150" alt="Oneironaut" />

          <div class="overLayer"></div>
          <div class="infoLayer">
            <ul>
              <li>
                <h2>
                  Moonwalk
                </h2>
              </li>
              <li>
                <p>
                  Finding Multi-Units to Buy and Rent
                </p>
              </li>
            </ul>
          </div>

          <div class="projectInfo">
            <strong>
              Moonwalk - Figure out your ROI before investing<br><br>
            </strong>
              Moonwalk.
          </div>
        </li>

      </ul>
    </section>
  </div>
</div>

<script>
$(document).ready(function(){
    $('#gallery').least();
});
</script>


</body>
</html>