<% include partials/header %>

<div class="container-fluid bgI col-lg-12" style="background-image:url('art/sunset.jpg')">
  <div class="rows">

    <div class="header" style="background-image:url('art/lake.JPG')">
      <img class="my_photo" style="background-image:url('sites/portfolio_photo.png')"/>
      <h1>Calvin Jhunjhnuwala</h1>
      <h4><strong>Full-Stack Web Developer | Tech-Enthusiast | Beat Generationalist</strong></h4>
    </div>

    <section class="section1">
    <ul id="gallery">
      <li id="fullPreview"></li>
        <h1 class="heading">Website Creations</h1>

        <li>
          <a href="sites/oneironaut.png" class="fit"></a>
          <img data-original="sites/oneironaut.png" src="sites/oneironaut.png" width="240" height="150" alt="" />

          <div class="overLayer"></div>
          <div class="infoLayer">
            <ul>
              <li>
                <h2>
                  Oneironaut
                </h2>
              </li>
              <li>
                <p>
                  A Dream Blog
                </p>
              </li>
            </ul>
          </div>

          <div class="projectInfo">
            <h3>Oneironaut - an explorer of the dream world</h3><br><br>
            <h4>I built this site based on the fact that there is not a good dream blogging website on the web right now. Most of them are outdated websites and I wanted to take a approach this from a new angle and bring some color to the world of dreams. I plan on rennovating and remaking this website when I get a chance to do so.<br>
            <a class="url_link" href="http://oneironaut.herokuapp.com">oneironaut.herokuapp.com</a>
            </h4>
          </div>
        </li>

        <li>
          <a href="sites/vex2.png" class="fit"></a>
          <img data-original="sites/vex.png" src="sites/vex.png" width="240" height="150" alt=""/>

          <div class="overLayer"></div>
          <div class="infoLayer">
            <ul>
              <li>
                <h2>
                  Vex-On
                </h2>
              </li>
              <li>
                <p>
                  Vexillology, refined
                </p>
              </li>
            </ul>
          </div>

          <div class="projectInfo">
            <h3>Vex-On - for flag lovers and vexillologists</h3><br><br>
            <h4>Vex-On is a flag website that I created simply because I love flags. Prior to joining GA, I had made a temporary website on SquareSpace and I did not think I would be able to create it on my own. Well, several months later, I did. Seeding data and using Node.js, Javascript, Pure (styling framework), and some jQuery, I created this website. "Vex" refers to vexillology which is the study of flags.<br>
            <a class="url_link" href="http://vex-on.herokuapp.com">vex-on.herokuapp.com</a></h4>
          </div>
        </li>

        <li>
          <a href="sites/mishmash2.png" class="fit"></a>
          <img data-original="sites/mishmash.png" src="sites/mishmash.png" width="240" height="150" alt="" />

          <div class="overLayer"></div>
          <div class="infoLayer">
            <ul>
              <li>
                <h2>
                  MishMash
                </h2>
              </li>
              <li>
                <p>
                  Artist and Community
                </p>
              </li>
            </ul>
          </div>

          <div class="projectInfo">
              <h3>MishMash - the exploration of local and artistry</h3><br><br>
              <h4>MishMash was born from a San Francisco stroll in the Haight District. Whilst walking with a friend, we both wondered why all the houses weren't covered with murals. The question soon turned to how would you find muralists in your area. MishMash is a website dedicated to local artist discovery.</h4>
          </div>
        </li>

        <li>
          <a href="sites/moonwalk.png" class="fit"></a>
          <img data-original="sites/moonwalk_landing.png" src="sites/moonwalk_landing.png" width="240" height="150" alt="" />

          <div class="overLayer"></div>
          <div class="infoLayer">
            <ul>
              <li>
                <h2>
                  Moonwalk
                </h2>
              </li>
              <li>
                <p>
                  Find Multi-Units to Buy & Rent
                </p>
              </li>
            </ul>
          </div>

          <div class="projectInfo">
              <h3>Moonwalk - Figure out your ROI before investing</h3><br><br>
              <h4>Moonwalk scrapes CraigsList for data. We grab current rental rates from a specific area and we get the prices for single family homes . Then we calculate the return on investment if you purchased one of the homes and charged current market rates to a tenant.<br>
              <a class="url_link" href="http://moonwalk.herokuapp.com">moonwalk.herokuapp.com</a></h4>
          </div>
        </li>

      </ul>
    </section><br>


    <section class="section2">
      <ul id="gallery">
        <li id="fullPreview"></li>
        <h1 class="heading">Web Skills</h1>

      <li class="skillSpacing">
        <h3 class="typeOfSkill">Languages</h3>
        <hr>
        <h4 class="skills">Javascript, Ruby, <br> HTML5, CSS</h4>
      </li>

      <li class="skillSpacing">
        <h3 class="typeOfSkill">Framework</h3>
        <hr>
        <h4 class="skills">Node.js, Express.js, <br>Rails, Angular</h4>
      </li>

      <li class="skillSpacing">
        <h3 class="typeOfSkill">Libraries</h3>
        <hr>
        <h4 class="skills">JQuery, Nokogiri</h4>
      </li>

      <li class="skillSpacing">
        <h3 class="typeOfSkill">Database</h3>
        <hr>
        <h4 class="skills">SQL, PostgreSQL, <br>Sequelize</h4>
      </li>

      <li class="skillSpacing">
        <h3 class="typeOfSkill">Authentication</h3>
        <hr>
        <h4 class="skills">BCrypt, OAuth</h4>
      </li>

      <li>
        <h3 class="typeOfSkill">Other</h3>
        <hr>
        <h4 class="skills">Bootstrap, Git/ GitHub, <br>Heroku Deployment</h4>
      </li>
    </section>


    <section class="section3">
     <ul id="gallery">
        <li id="fullPreview"></li>
        <h1 class="heading">Minor Key Artwork</h1>

        <li>
          <a href="art/doom.jpg" class="fit"></a>
          <img data-original="art/doom.jpg" src="art/doom.jpg" height="150" alt="" onclick="window.open(this.href); return false;"/>
        </li>

        <li>
          <a href="art/morning.jpg" class="fit"></a>
          <img data-original="art/morning.jpg" src="art/morning.jpg" height="150" alt="" target="_blank"/>
        </li>

        <li>
          <a href="art/be_water.jpg" class="fit"></a>
          <img data-original="art/be_water.jpg" src="art/be_water.jpg" height="150" alt="" target="_blank" />
        </li>

        <li>
          <a href="art/the_trail.jpg" class="fit"></a>
          <img data-original="art/the_trail.jpg" src="art/the_trail.jpg" height="150" alt="" target="_blank" />
        </li>

        <li>
          <a href="art/zen.jpg" class="fit"></a>
          <img data-original="art/zen.jpg" src="art/zen.jpg" height="150" alt="" target="_blank" />
        </li>

        <li>
          <a href="art/salar.jpg" class="fit"></a>
          <img data-original="art/salar.jpg" src="art/salar.jpg" height="150" alt="" target="_blank" />
        </li>

        <li>
          <a href="art/zombie.jpg" class="fit"></a>
          <img data-original="art/zombie.jpg" src="art/zombie.jpg" height="150" alt="" target="_blank" />
        </li>
      </ul>
    </section>

    <section class="section4 col-lg-12">
        <h1 class="heading">Work Experience</h1>

        <div class="col-lg-9">

        <li class="lefty">
          <h2 class="job">General Assembly</h2>
          <h3 class="job">Web Development Immersive Student</h3>
          <p class="skills2">
            General Assembly’s Web Development Immersive program is a full-time 12 week course covering object-oriented programming and fluency in full-stack web development in JavaScript and Ruby. It aims to prepare students for careers in Web Development.
          </p>
        </li>

        <li class="lefty">
          <h2 class="job">Dedicated Defined Benefit Services</h2>
          <h3 class="job">Marketing Assistant</h3>
          <p class="skills2">
            • Updated Powerpoint presentations, website copy and content, and enhanced marketing material (i.e. brochures, forms, etc.).<br>
            • Built the The Melt’s Salesforce CRM workflow from implementation to present day.<br>
            • Researched, compiled, and added over 800 California companie<br>
            • Used Excel to measure and calculate the company’s growth in catering inquiries.
          </p>
        </li>

        <li class="lefty">
          <h2 class="job">The Melt</h2>
          <h3 class="job">Business Development Intern</h3>
          <p class="skills2">
            • Responsible for medium-volume (30-40) cold-calling California corporations and organizations for catering, leading to over 45 events that yielded around $24,000.<br>
            • Built the The Melt’s Salesforce CRM workflow from implementation to present day.<br>
            • Researched, compiled, and added over 800 California companies to The Melt’s CRM system, finding the correct phone number, address, company size, and contact (for over 500 of those).<br>
            • Used Excel to measure and calculate the company’s growth in catering inquiries.
          </p>
        </li>
      </div>

      <div class="col-lg-3">
        <h1>My Résumé</h1>
          <h3 class="skills">
          <!-- <a id="downloadLink" href="art/cmj_resume.pdf" target="_blank"
          type="application/octet-stream" download="cmj_resume.pdf" style="background-color:yellow; padding:5px" download>Download</a> -->
            <a href="art/CMJresume.pdf" target="_blank" style="background-color:yellow; padding:5px" download>Download.</a>
          </h3>
          <br><br>
        <h1>Socials</h1>
        <div class="icon">
          <a href="https://github.com/Calvinjwala"><img class="icon" src="icons/github.png" alt=""></a>
          <a href="https://www.facebook.com/calvin.jhunjhnuwala"><img class= "icon" src="icons/facebook.png" alt=""></a>
          <a href="https://www.linkedin.com/in/cjhunjhnuwala"><img class="icon" src="icons/linkedin.png" alt=""></a>
          <a href="https://twitter.com/calvin_jhun"><img class="icon" src="icons/twitter.png" alt=""></a>
        </div>
      </div>
    </section>

  </div>
</div>

<script>
$(document).ready(function(){
    $('#gallery').least();
});
</script>


</body>
</html>