<% include partials/header %>

<div class="container-fluid col-lg-12">
  <div class="rows">

    <div class="header">
      <img class="my_photo" />
      <h1>Calvin Jhunjhnuwala</h1>
      <h4><strong>Full-Stack Web Developer | Sports Fanatic | Beat Generationalist</strong></h4>
    </div>

    <section class="section1">
    <ul id="gallery">
      <li id="fullPreview"></li>
        <h1 class="heading">Website Creations</h1>

        <li>
          <a href="sites/oneironaut.png" class="fit"></a>
          <img data-original="sites/oneironaut.png" src="sites/oneironaut.png" width="240" height="150" alt="" />

          <div class="overLayer"></div>
          <div class="infoLayer">
            <ul>
              <li>
                <h2>
                  Oneironaut
                </h2>
              </li>
              <li>
                <p>
                  A Dream Blog
                </p>
              </li>
            </ul>
          </div>

          <div class="projectInfo">
            <strong>
              Oneironaut - an explorer of the dream world<br><br>
            </strong>
            I built this site with the fact that there is not a good dream bloggin website out there right now. Mos tof them are outdated websites and I wanted to take a new approach to this and bring some color to the world of dreams.
          </div>
        </li>

        <li>
          <a href="sites/vex2.png" class="fit"></a>
          <img data-original="sites/vex.png" src="sites/vex.png" width="240" height="150" alt=""/>

          <div class="overLayer"></div>
          <div class="infoLayer">
            <ul>
              <li>
                <h2>
                  Vex-On
                </h2>
              </li>
              <li>
                <p>
                  Learn About Flags & History
                </p>
              </li>
            </ul>
          </div>

          <div class="projectInfo">
            <strong>
              Vex-On - for flag lovers and vexillologists<br><br>
            </strong>
              This was another website that I built because this was something that I wanted to exist.
          </div>
        </li>

        <li>
          <a href="sites/mishmash2.png" class="fit"></a>
          <img data-original="sites/mishmash.png" src="sites/mishmash.png" width="240" height="150" alt="" />

          <div class="overLayer"></div>
          <div class="infoLayer">
            <ul>
              <li>
                <h2>
                  MishMash
                </h2>
              </li>
              <li>
                <p>
                  Where Artist and Community Meet
                </p>
              </li>
            </ul>
          </div>

          <div class="projectInfo">
            <strong>
              MishMash - the exploration of local and artistry<br><br>
            </strong>
              MishMash was born in
          </div>
        </li>

        <li>
          <a href="sites/moonwalk.png" class="fit"></a>
          <img data-original="sites/moonwalk_landing.png" src="sites/moonwalk_landing.png" width="240" height="150" alt="" />

          <div class="overLayer"></div>
          <div class="infoLayer">
            <ul>
              <li>
                <h2>
                  Moonwalk
                </h2>
              </li>
              <li>
                <p>
                  Finding Multi-Units to Buy and Rent
                </p>
              </li>
            </ul>
          </div>

          <div class="projectInfo">
            <strong>
              Moonwalk - Figure out your ROI before investing<br><br>
            </strong>
              Moonwalk.
          </div>
        </li>

      </ul>
    </section><br>




    <section class="section2">
      <ul id="gallery">
        <li id="fullPreview"></li>
        <h1 class="heading">Web Skills</h1>

      <li class="skillSpacing">
        <h3 class="typeOfSkill">Languages</h3>
        <hr>
        <h4 class="skills">Javascript, Ruby, <br> HTML5, CSS</h4>
      </li>

      <li class="skillSpacing">
        <h3 class="typeOfSkill">Framework</h3>
        <hr>
        <h4 class="skills">Node.js, Express.js, <br>Rails, Angular</h4>
      </li>

      <li class="skillSpacing">
        <h3 class="typeOfSkill">Libraries</h3>
        <hr>
        <h4 class="skills">JQuery, Nokogiri</h4>
      </li>

      <li class="skillSpacing">
        <h3 class="typeOfSkill">Database</h3>
        <hr>
        <h4 class="skills">SQL, PostgreSQL, <br>Sequelize</h4>
      </li>

      <li class="skillSpacing">
        <h3 class="typeOfSkill">Authentication</h3>
        <hr>
        <h4 class="skills">BCrypt, OAuth</h4>
      </li>

      <li>
        <h3 class="typeOfSkill">Other</h3>
        <hr>
        <h4 class="skills">Bootstrap, Git/ GitHub, <br>Heroku Deployment</h4>
      </li>
    </section>



    <!-- ART ART ART ART ART ART ART ART ART ART ART ART ART ART ART ART ART ART ART ART -->



    <section class="section1">
     <ul id="gallery">
        <li id="fullPreview"></li>
        <h1 class="heading">Minor Key Artwork</h1>

        <li>
          <a href="art/doom.jpg" class="fit"></a>
          <img data-original="art/doom.jpg" src="art/doom.jpg" height="150" alt="" onclick="window.open(this.href); return false;"/>
        </li>

        <li>
          <a href="art/morning.jpg" class="fit"></a>
          <img data-original="art/morning.jpg" src="art/morning.jpg" height="150" alt="" target="_blank"/>
        </li>

        <li>
          <a href="art/be_water.jpg" class="fit"></a>
          <img data-original="art/be_water.jpg" src="art/be_water.jpg" height="150" alt="" target="_blank" />
        </li>

        <li>
          <a href="art/the_trail.jpg" class="fit"></a>
          <img data-original="art/the_trail.jpg" src="art/the_trail.jpg" height="150" alt="" target="_blank" />
        </li>

        <li>
          <a href="art/zen.jpg" class="fit"></a>
          <img data-original="art/zen.jpg" src="art/zen.jpg" height="150" alt="" target="_blank" />
        </li>

        <li>
          <a href="art/salar.jpg" class="fit"></a>
          <img data-original="art/salar.jpg" src="art/salar.jpg" height="150" alt="" target="_blank" />
        </li>

        <li>
          <a href="art/zombie.jpg" class="fit"></a>
          <img data-original="art/zombie.jpg" src="art/zombie.jpg" height="150" alt="" target="_blank" />
        </li>
      </ul>
    </section>


<!--     <section class="section2 col-lg-12">
      <h1 class="heading">Web Skills</h1>
      <div class="col-lg-2">
        <h3 class="typeOfSkill">Languages</h3>
        <hr>
        <h4 class="skills">Javascript, Ruby, HTML5, CSS</h4>
      </div>

      <div class="col-lg-2">
        <h3 class="typeOfSkill">Framework</h3>
        <hr>
        <h4 class="skills">Node.js, Express.js, Rails, Angular</h4>
      </div>

      <div class="col-lg-2">
        <h3 class="typeOfSkill">Libraries</h3>
        <hr>
        <h4 class="skills">JQuery, Nokogiri</h4>
      </div>

      <div class="col-lg-2">
        <h3 class="typeOfSkill">Database</h3>
        <hr>
        <h4 class="skills">SQL, PostgreSQL, Sequelize</h4>
      </div>

      <div class="col-lg-2">
        <h3 class="typeOfSkill">Authentication</h3>
        <hr>
        <h4 class="skills">BCrypt, OAuth</h4>
      </div>

      <div class="col-lg-2">
        <h3 class="typeOfSkill">Other</h3>
        <hr>
        <h4 class="skills">Bootstrap, Git/ GitHub, Heroku Deployment</h4>
      </div>
    </section> -->

  </div>
</div>

<script>
$(document).ready(function(){
    $('#gallery').least();
});
</script>


</body>
</html>