<% include partials/header %>

  <div class="container-fluid">
    <div class="rows">

     <h1>Calvin Jhunjhnuwala</h1><br>
    <section>
    <ul id="gallery">
        <li id="fullPreview"></li>

        <li>
            <a href="sites/35H.JPG" class="fit"></a>
            <img data-original="sites/35H.jpg" src="" width="240" height="150" alt="Oneironaut" />

            <div class="overLayer"></div>
            <div class="infoLayer">
                <ul>
                    <li>
                        <h2>
                            Oneironaut
                        </h2>
                    </li>
                    <li>
                        <p>
                            Dream Blog
                        </p>
                    </li>
                </ul>
            </div>

            <div class="projectInfo">
                <strong>
                    Day, Month, Year:
                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            </div>
          </li>

          <li>
            <a href="sites/green.JPG" class="fit"></a>
            <img data-original="sites/green.jpg" src="" width="240" height="150" alt="Oneironaut" />

            <div class="overLayer"></div>
            <div class="infoLayer">
                <ul>
                    <li>
                        <h2>
                            Oneironaut
                        </h2>
                    </li>
                    <li>
                        <p>
                            Dream Blog
                        </p>
                    </li>
                </ul>
            </div>

            <div class="projectInfo">
                <strong>
                    Day, Month, Year:
                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            </div>
          </li>

          <li>
            <a href="sites/myface.JPG" class="fit"></a>
            <img data-original="sites/myface.jpg" src="" width="240" height="150" alt="Oneironaut" />

            <div class="overLayer"></div>
            <div class="infoLayer">
                <ul>
                    <li>
                        <h2>
                            Oneironaut
                        </h2>
                    </li>
                    <li>
                        <p>
                            Dream Blog
                        </p>
                    </li>
                </ul>
            </div>

            <div class="projectInfo">
                <strong>
                    Day, Month, Year:
                </strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            </div>
          </li>





        </ul>
    </section>


    </div>
  </div>

<script>
$(document).ready(function(){
    $('#gallery').least();
});
</script>


</body>
</html>